# Node modules - will be installed inside the container
node_modules
**/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Testing / Coverage
coverage

# OS-specific files
.DS_Store
Thumbs.db

# Environment files (optional, depending on your use case)
.env
.env.* 

# Editor & IDE files
.vscode
.idea
*.swp

# Dockerfile and docker-compose usually stay
